<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.saikaisa.healthcarebackend.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="top.saikaisa.healthcarebackend.model.User">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="avatarUrl" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="TINYINT"/>
            <result property="steps" column="steps" jdbcType="INTEGER"/>
            <result property="calories" column="calories" jdbcType="INTEGER"/>
            <result property="exerciseTime" column="exercise_time" jdbcType="INTEGER"/>
            <result property="sleepDuration" column="sleep_duration" jdbcType="INTEGER"/>
            <result property="sleepStartTime" column="sleep_start_time" jdbcType="TIME"/>
            <result property="sleepEndTime" column="sleep_end_time" jdbcType="TIME"/>
            <result property="heartRate" column="heart_rate" jdbcType="INTEGER"/>
            <result property="bloodOxygen" column="blood_oxygen" jdbcType="INTEGER"/>
            <result property="bloodPressure" column="blood_pressure" jdbcType="VARCHAR"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
            <result property="isDeleted" column="is_deleted" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,
        avatar_url,gender,steps,
        calories,exercise_time,sleep_duration,
        sleep_start_time,sleep_end_time,heart_rate,
        blood_oxygen,blood_pressure,create_time,
        update_time,is_deleted
    </sql>
</mapper>
